.dashboard
{
  width: 100%;
}

.headerContainer
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 680px) {
  .headerContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }
}