/* src/components/loading.css */

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem;
  border-radius: var(--border-radius);
}
