
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem;
  border-radius: var(--border-radius);
}
